########################################
# 🔧 Pastas de build (não versionar)
########################################
bin/
obj/

########################################
# ⚙️ Configurações de IDE (VSCode, Rider)
########################################
.vscode/
.idea/

########################################
# 👤 Arquivos de usuário (config locais)
########################################
*.user
*.suo

########################################
# 🪵 Logs temporários
########################################
*.log

########################################
# 🍎/ 🐧 Arquivos de sistema (macOS / Linux)
########################################
.DS_Store
*.swp
